In [1]:
from bs4 import BeautifulSoup
import requests
import json
import time
import datetime as dt
import re
import pandas as pd
import numpy as np
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [2]:
url = f"https://www.worldometers.info/coronavirus/#countries"

In [3]:
date = dt.date(2021, 5,11)
date

datetime.date(2021, 5, 11)

In [4]:
driver = webdriver.Chrome()
driver.get(url)
driver.find_element_by_id("nav-yesterday-tab").click()

In [5]:
html_text = requests.get(url).text
tree = BeautifulSoup(html_text, 'html.parser')
theads= tree.find('tr').text.replace("/\n", "/").replace("\xa0", " ").replace("\n\n", "\n").split("\n")
labels = theads[2:-3] + ["Date"]

In [6]:
data = pd.read_csv("../data/coronavirus/coronavirus0517.csv")
data.tail(2)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population,Date,1 Caseevery X ppl1 Deathevery X ppl1 Testevery X ppl,Continent,New Cases/1M pop
7530,Micronesia,1,NaN,,NaN,1,NaN,0,NaN,9,NaN,NaN,NaN,"116,073",2021-05-17,"116,073",Australia/Oceania,NaN
7531,China,"90,872",+25,"4,636",NaN,"85,945",+25,291,1,63,3,"160,000,000","111,163","1,439,323,776",2021-05-17,"15,839310,4679",Asia,0.02

In [7]:
tr_all = tree.find('tbody').find_all('tr')[8:]
for tr in tr_all:
    temp = tr.text.split("\n")[2:-3]
    new_row = np.array(temp+[date])
#     print(new_row)
    data = data.append(pd.Series(new_row, index = labels), ignore_index="True")

In [8]:
data.to_csv("../data/coronavirus/coronavirus0520.csv", index=False)

In [9]:
driver.close()